<h1>Is there anything special about those words of yours?</h1>
<form action="/result">
  <div class="form-group">
    <label for="obj">first word</label>
    <input name="obj" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="arg">second word</label>
    <input name="arg" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
